@tailwind base;
@tailwind components;
@tailwind utilities;

/* background */
.bg-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c1f0d7",GradientType=1);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
  backdrop-filter: blur(4px); /* Adjust the blur radius as needed */
  z-index: 999; /* Ensure the loader is on top of other content */
}


.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #08cb0f;
  border-radius: 50%;
  width: 6vw;
  aspect-ratio: 1;
  animation: spin 1s linear infinite;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

