@tailwind base;
@tailwind components;
@tailwind utilities;

/* background */
.bg-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 249, 233, 0.427328431372549) 35%,
    rgba(193, 240, 215, 0.5225665266106442) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c1f0d7",GradientType=1);
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #08cb0f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-right: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

